.appBar {
  background-color: #575fcf;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
}

.appBar__menu {
  float: left;
  height: 100%;
  width: 50px;
}

.appBar__title {
  float: left;
}

.appBar__title h1 {
  margin-left: 60px;
  font-size: 20px;
  color: #fff;
}

.appBar__icons {
  float: right;
}

.appBar__menu-menuIcon {
  position: relative;
  top: 10px;
  left: 10px;
}

.appBar__icons-userIcon {
  position: relative;
  top: 10px;
  right: 20px;
}

.appBar__userBox {
  /* visibility: hidden; */
  display: none;
  width: 140px;
  height: 120px;
  background-color: #fff;
  /* position: relative; */
  /* top: 50px; */
}

.appBar__userBox ul {
  margin: 0;
  padding: 0;
}

.appBar__userBox ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
