//COLOR
$color-primary: #575fcf;
$color-primary-light: #a29bfe;

$color-white: #fff;
$color-white-dark: fafafa;

$color-black: #000;
$color-black-light: #100042;

$color-red: #f44336;

$color-grey: #c4c4c4;

//FONT
$font-primary: "Francois One";
